body{
    background-color: darkslategrey;
    font-size: 50px;
}
h1{
    text-shadow: 5px 5px 1px rgb(22, 88, 174),
                 0 0 1em blue,
                 0 0 0.2em rgb(34, 34, 40);
    color:rgb(133, 219, 14);
    font-size: 60px;
}

#form_caballero{
    font-size: 50px;
    color: rgb(17, 1, 1);
}

#text_caballero{
    font-size: 50px;
    background-color: black;
    color:rgba(224, 9, 88, 0.944)
}

#text_constelacion{
    font-size: 50px;
    background-color: black;
    color:rgba(224, 9, 88, 0.944)
}

#text_dios{
    font-size: 50px;
    background-color: black;
    color:rgba(224, 9, 88, 0.944)
}

#submit_enviar{
    font-size: 50px;
    background-color: sandybrown;
    color:rgba(224, 9, 88, 0.944);
}

h2{
    color: aliceblue;
}

#p1{
    font-weight: 900;
    color: blanchedalmond;
}

#submit_websocket{
    background-color: blue;
    font-size: 50px;
}

#text_password{
    font-size: 50px;
}

#submit_token{
    font-size: 50px;
}

/* #contenedor_token{
    font-size: 50px;
} */